.button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #5964E0;
    min-width: 148px;
    height: 48px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    color: $secondary-1;
    font-weight: 700;
    border: none;
    &:focus {outline:0;}
}

.companySite {
    background-color: rgba(	201, 201, 201, .5);
    color: #5964E0;
}

.loadMore, .applyNow, .search, .companySite {
    &:hover {background-color: #939BF4;}
}

.search {
    min-width: 80px ;
}



