.button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #5964E0;
    min-width: 148px;
    height: 48px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    color: var(--white);
    font-weight: 700;
    border: none;
    &:focus {outline:0;}
}

.companySite {
    background-color: var(--company--site--btn);
    color: var(--company--site--txt);
    &:hover {
        background-color: var(--company--site--hover);
    }
}

.search {
    min-width: 123px !important;
    padding: 16px 35.5px;
}

.loadMore, .applyNow, .search {
    &:hover {background-color: var(--light--violet);}
}

.searchMobil {
    width: 90%;
    margin-top: 24px;
}


@media screen and (max-width : 1110px) {
   .search {
       min-width: 80px !important;
       margin-left: 28px;
   }
}





