.header {
    position: relative;
    display: flex;
    align-items: center;
    background: no-repeat url(../../assets/desktop/bg-pattern-header.svg);
    justify-content: space-between;
    padding: 2.8125rem 10.3125rem 5.625rem 10.3125rem ;
   
    &__title {
        color: $secondary-1;
        font-size: 1.8rem;
        font-weight: 600;
    }
    &__toggle {
        position: relative;
        width: 3rem;
        display: flex;
        align-items: center;
        right: 4rem;

        .checkbox {
            display: none;

            &:checked + label .ball {           // == Lorsque c'est checked, cible uniquement .ball
                transform: translateX(20px);
            }
        }
        .label {
            position: relative;
            display: block;
            width: 48px;
            height: 24px;
            padding: 5px 8px;
            background-color: #fff;
            border-radius: 50px;
            cursor: pointer;
            transform: scale(1.2);
            box-shadow: 2px 1px 1px #333;
            margin: 0 1rem;

            .ball {
                position: absolute;
                background: #5964E0;     
                border-radius: 50%;
                height: 15px;
                width: 15px;
                top: .23rem;
                transform: (translateX(0px));     // Pour que la boule se balade sur l'axe des X   
                transition: transform 0.4s cubic-bezier(.45, -1.12, .35,1.78) ; 
            }
        }
    }
}

// == Tablet
@media screen and (max-width : 769px) {
    .header {
        padding: 2.625rem 2.5rem 5.375rem 2.5rem ;
    }
}

// == Mobile
@media screen and (max-width : 375px) {
    .header {
        padding: 2.125rem 1.5rem 4.625rem 1.5rem ;
    }
}