.header {
    @include display-align-justify(flex, center, space-between);
    background: no-repeat url(../../assets/desktop/bg-pattern-header.svg);
    padding: 2.8125rem 10.3125rem 5.625rem 10.3125rem ;
   
    &__title {
        color: var(--white);
        font-size: 1.8rem;
        font-weight: 600;
    }
    &__toggle {
        display: flex;
        align-items: center;
        
        button {
            position: relative;
            margin: 0 15px;
            height: 20px; width: 40px;
            border: 0;
            border-radius: 50px;
            cursor: pointer;
            width: 48px;
            height: 24px;  
            background-color: #fff;
    
            .slider {
                position: absolute;
                height: 14px; width: 14px;
                top: 4.6px; left: 4px;
                height: 15px;
                width: 15px;
                border: 0;
                border-radius: 50%;
                background: #5964E0;     
                transition: .3s;
            }
    
            &.active {
                .slider {
                    transform: translateX(calc(100% + 10px));
                }
            }
        }
    }
}

// == Tablet
@media screen and (max-width : 769px) {
    .header {
        background: url('../../assets/tablet/bg-pattern-header.svg');
        padding: 2.625rem 2.5rem 5.375rem 2.5rem;
    }
}

// == Mobile
@media screen and (max-width : 475px) {
    .header {
        padding: 2.125rem 1.5rem 4.625rem 1.5rem;
        background: url('../../assets/mobile/bg-pattern-header.svg');
    }
}

