.job__board__card {
    position: relative;
    max-width: 21.875rem;
    min-height: 14.25rem ;
    background-color: var(--main--base);
    border-radius: 0.3125rem;
    padding: 0 1.25rem 0;
    margin-bottom: 4.0625rem;

    .card {
        &__image__container {
            @include display-align(flex, center);
            width: 3.125rem;
            height: 3.125rem;
            overflow: hidden;
            border-radius: 0.625rem;
            transform: translateY(-50%);

            img {
                max-width: 100%
            };

            .no-logo {
                @include display-align-justify(flex, center, center);
                background-color: rgb(190, 190, 190);
                border-radius: 0.625rem;
                width: 3.125rem;;
                height: 3.125rem;
            }
        }
        &__time-type, &__company {

            color : #6E8098;
        }
        &__title {
            color: var(--heading);
            padding: 0.8125rem 0;
            font-size: 1.25rem;
            cursor: pointer;

            &:hover {
                color: rgb(110, 125, 152);
            }
        }
        &__location {
            padding: 1.225rem 0 1rem 0;
            font-size: 0.875rem;
            color: #5964E0;
        }
    }
}

@media screen and (max-width : 689px) {
    .job__board__card {
        margin-bottom: 3.0625rem;
    }
}




