.searchBar {
    @include display-align-justify(flex, center, space-between);
    height: 5rem;
    background-color: $secondary-1;
    border-radius: 0.375rem;
    padding: 0 1rem 0 1.5rem;
    transform: translateY(-2.1875rem);
		color: $primary-3;

    img {
        height: 1.5rem;
    }
    
    input {
      width: 100%;
      border: none;
      padding: 1.75rem 0 1.75rem 1rem;
      outline: none;
    }
    label {
        margin-left: 1rem ;
    }

    div {
      @include display-align(flex, center);
    }
    
    &__description {
			width: 28.9375rem;
      border-right: 1px solid #E9ECEF;
    }
    &__location {
			width: 18.75rem;
			border-right: 1px solid #E9ECEF;
			margin-left: 1.4375rem;
    }
		&__fullTime {
			font-weight: 700;

			input {
				cursor: pointer;
				width: 1.5rem;
        padding: 1rem 2.1875rem;
				height: 1.5rem;
				color:  #E9ECEF;
				opacity: .8;
				margin-left: 1.625rem;   
			}
      label {
        width: 6.875rem;
      }
		
		}
		button {
			width: 7.6875rem;
      margin-left: 1.625rem;
		}
}

// A REVOIR !!
input[type="checkbox"]{
  // position: absolute;
  // background-color: red;
  // border: 1px solid red;
  outline: none;
 }

 // == mobile
 @media screen and (max-width : 689px) {
   .searchBar {
     margin: 0 auto;
     width: 20.4375rem;

    &__description {
      border: none;

      input {
        padding: 0;
      }
    }
   }
  .searchBar__location, .searchBar__fullTime {
    display: none !important;
  }
}

// == iphone 5, galaxy fold
@media screen and (max-width : 327px) {
  .searchBar {
    width: 16.25rem;
  }
}
