.searchBar {
    @include display-align-justify(flex, center, space-between);
    height: 5rem;
    background-color: var(--main--base);
    border-radius: 0.375rem;
    padding: 0 1rem 0 1.5rem;
    transform: translateY(-2.1875rem);

    img {
        height: 1.5rem;
    }
    
    input {
      background-color: var(--main--base);
      color: var(--heading);
      border: none;
      padding: 1.75rem 0 1.75rem 1rem;
      outline: none;
    }
    label {
        margin-left: 1rem ;
        display: flex;
        align-items: center;
    }

    div {
      @include display-align(flex, center);
    }
    
    &__description {
			width: 28.9375rem;
      border-right: 1px solid var(--border--search);
      input{
        width: 100%;
      }
    }
    &__location {
			width: 18.75rem;
			border-right: 1px solid var(--border--search);
			margin-left: 1.4375rem;
    }
		&__fullTime {
      width: 345px;
			font-weight: 700;

      label {
        width: 100%;
        margin-left: 32px;

        div {
          cursor: pointer;
          height: 24px;
          width: 24px;
          background-color: var(--bg--checkbox);
          border-radius: 3px;
        }

        input:checked {

          + div {
            background: center / auto no-repeat url('../../assets/desktop/icon-check.svg');
            background-color: #5964E0;
          }
        }
        span {
          color: var(--heading);
          margin-left:16px ;
          width: 74%;
        }
      }    
		}
  }

// == Tablet
@media screen and (max-width : 1110px) {
  .searchBar__description {
    width: 222px;
  }

  .searchBar__location {
    width: 213px;
  }

  .searchBar__fullTime {
    width: 252px;
    label {
      margin-left: 20px ;
    }
    span {
      width: 70px !important;
    }
  }
}

 // == mobile
 @media screen and (max-width : 689px) {
   .searchBar {
     margin: 0 auto;
     width: 20.4375rem;

      &__description {
        border: none;

        input {
          padding: 0;
        }
      }
      &__fullTime {
        width: 30%;
      }
      &__location, &__fullTime label {
        display: none !important;
      }
    }
 }

// == iphone 5, galaxy fold
@media screen and (max-width : 327px) {
  .searchBar {
    width: 16.25rem;
  }
}


