.skeleton {
    @include width-height-radius-bgColor(21.875rem, 15.0625rem, 5px, var(--main--base));
    position: relative;
    padding: 0 20px 0px;
    margin-bottom: 4.0625rem;

    &__home {
      
      &::after {
       @extend %after;
      }
      &__logo {
        @include width-height-radius-bgColor(50px, 50px, 15px, var(--skeleton));
        transform: translateY(-23px);
      }
  
      &__text1 {
        @include width-height-radius-bgColor(55%, 16px, 4px, var(--skeleton));
      }
  
      &__title {
        @include width-height-radius-bgColor(80%, 20px, 4px, var(--skeleton));
        margin: 13px 0 17px 0;
      }
  
      &__text2 {
        @include width-height-radius-bgColor(45%, 16px, 4px, var(--skeleton));
      }
  
      &__text3 {
        @include width-height-radius-bgColor(35%, 14px, 4px, var(--skeleton));
        margin-top: 35px;
      }
    } 
}

@media screen and (max-width : 1110px) {
    .skeleton {
      width: 21.1875rem;
    }
  }
  
// @keyframes loading {
//   0% {background-color: rgba(255, 255, 255, var(--opacity1));}
//   25% {background-color: rgba(255, 255, 255, var(--opacity2));}
//   50% {background-color: rgba(255, 255, 255, var(--opacity3));} 
//   75% {background-color: rgba(255, 255, 255, var(--opacity4));}
//   100% {background-color: rgba(255, 255, 255, var(--opacity5));} 
// }

// .wave::after {
//   // background-color: rgba(231, 231, 231, 0.192);
//   content: '';
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   border-radius: .3125rem;
//   z-index: 5555555;
//   animation: loading2 1s infinite ease-in-out;  
//   box-shadow: 0 0px 30px  rgba(255, 255, 255, 0.322);

// }


// @keyframes loading2 {
//   0% {transform: translateX(-100%);} 
//   100% {transform: translateX(100%);}
// }