.home__page {
    position: relative;
    width: 69.375rem;
    margin: 0 auto;

    .page {
        &__jobBoard {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 1.875rem;
            margin-top: 5rem;
        }
        &__filter {
            display: flex;
            justify-content: center;
            margin: 0 auto;

            span {
                cursor: pointer;
                font-weight: bold;
                font-size: .7rem;
                background-color: #5964E0;
                color: (var(--white));
                border-radius: 10px;
                padding: 2px .6rem;
                margin-right: 8px;
            }   
        }
    }
}

// == tablette
@media screen and (max-width : 1110px) {
    .home__page {
        width: 43.0625rem;

        .page {
        	&__jobBoard {
                margin-top:2.8125rem;
            	grid-template-columns: repeat(2, 1fr);
            	grid-column-gap: 0.6875rem ;
            }
        } 
    } 
}

// == mobile
@media screen and (max-width : 689px) {

    .home__page {
        width: 20.4375rem ;

        .page {
            &__jobBoard {
                margin-top: 2rem !important;
                grid-template-columns:1fr !important;
                align-self: center !important;
                justify-self: center !important;
            }
        }
    }
}

// == iphone 5, galaxy fold
@media screen and (max-width : 327px) {
    .home__page {
        width: 16.875rem;
    }
}

