.home__page {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;

    .page {
        &__jobBoard {
            display: flex;
            flex-wrap: wrap;
            margin-top: 4.5rem;
            justify-content: space-between;
        }
    }
}

.card__loading {
    width: 21.875rem;
    background-color: $secondary-1;
    border-radius: 5px;
    padding: 0 20px 0px;
    margin: 1.575rem 0 2.0625rem;
}



// ==  Passage mode Tablette
@media screen and (max-width : 1070px) {
    .home__page {
        max-width: 689px;
    }
    .page__jobBoard {
        margin-top: 3rem  !important;
    }
    .card__loading {
        width:21.1875rem
    }
}

// == Passage mode mobile
@media screen and (max-width : 683px) {
    .page__jobBoard {
        flex-direction: column;
        align-items: center;
    }
    .card__loading {
        width: 20.875rem;
    }
}

