.job__details {
  max-width: 45.625rem;
  margin: 0 auto 4.5rem;
  background-color: #F2F2F2;

    &__header {
      display: flex; 
      align-items: center;
      background-color: $secondary-1;
      border-radius: 6px;
      margin: 0 auto;
      height: 140px;
      transform: translateY(-50px);
    
      .header {
        &__image__container {
          display: flex;
          align-items: center;
          max-width: 140px;
          max-height: 140px;
                
          img {
            width: 100%;
            border-radius: 5px;
            max-height: 140px;
          }
        } 
        &__textbox {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          padding: 2.625rem 2.5625rem;

          &__inner {
            width: 46%;
          }
          &__heading {
            color: $primary-3;
          }   
          &__site {
            margin-top: 0.8125rem;            
          }   
      }  
    }
  }  
  &__body {
    transform: translateY(-50px);
    padding: 3rem 2.6875rem 3rem 3rem;
    background-color: $secondary-1;
    margin-top: 2rem ;
    border-radius: 5px;

    .body {

      &__heading__content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.5rem ;

      }
      &__heading__time, &__heading__type {
        color : $secondary-4;
      }
      &__heading__title {
        font-size: 1.75rem;
        margin-top: .5rem ;
      }
      &__heading__location {
        font-size: 0.875rem;
        font-weight: 700;
        margin-top: .5rem;
        color: #5964E0;
      }
      &__main {

        p {
          margin: 20px 0;
          color : $secondary-4 ;
        }
      }
    }
  } 
  &__apply {
    background: url("../../assets/desktop/bg-pattern-detail-footer.svg");
    color: $secondary-1;
    border-radius: 5px;
    padding: 2.5rem 2.6875rem 2.5625rem 3rem;

    h3 {
      font-size: 1.25rem;
      margin-bottom: 1.75rem;
    }
    div {
      font-weight: 400;
      // width: 200px;
    }
    a {
      font-weight: 400;
      text-decoration: underline;
      word-wrap: break-word;
    }
  }
}

// == Mobil
@media screen and (max-width : 550px) {
  .job__details {
    max-width: 20.4375rem ;

    &__header {
      display: flex;
      flex-direction: column;
      min-height: 14.375rem;
      transform: translateY(-13px);
      margin-bottom: 4.5rem;

      .header {
        &__image__container {
          width: 50px;
          height: 50px;
          transform: translateY(-20px);
          img {
            max-height: 50px; 
            max-width: 50px;           
          }
        }
        &__textbox {
          flex-direction: column;
          padding: 1.5rem 2.5625rem;
          
          &__inner {
            width: 100%;
            text-align: center;
            margin-bottom: 1.5rem;
          }
          &__heading {
            font-size: 1.25rem;
          }
        }
      }
    }
    .body {
    
      &__heading__content {
        flex-direction: column;    
        
        .applyNow {
          width: 17.4375rem;
          margin-top: 2rem;
        }
      }
      &__heading__title {
        font-size: 20px;
      } 
    }
  }
}