html[data-theme="light"] {

    --bg: var(--light--grey);
    --main--base : var(--white);
    --heading : var(--blue--dark);
    --border--search: rgba(var(--dark--grey), 0.2);
    --bg--checkbox : rgba(var(--very--dark--blue), 0.1);
    --text--job : var(rgb(--dark--grey));
    --skeleton: #a3a3a3;
    --company--site--btn: rgba(89,100,224, .1);
    --company--site--txt: #5964E0;
    --company--site--hover : rgba(89,100,224, .35);
    
    // == Opacity animation loading card
    --opacity1 : 0;
    --opacity2: .2;
    --opacity3: .3;
    --opacity4: .2;
    --opacity5: 0;
}

html[data-theme="dark"]{

    --bg: var(--midnight);
    --main--base : rgba(var(--very--dark--blue));
    --heading : var(--white);
    --border--search: rgba(110,128,152, 0.2);
    --bg--checkbox : rgba(255, 255, 255, 0.1);
    --text--job : var(--grey);
    --skeleton: #536172;
    --company--site--btn: rgba(255, 255, 255, 0.1);
    --company--site--txt: var(--white);
    --company--site--hover : rgba(255,255,255, .25);

    // == Opacity animation loading card
    --opacity1 : 0;
    --opacity2: .01;
    --opacity3: .03; 
    --opacity4: .01;
    --opacitye5: 0;
}